[Unit]
Description = Unreal Tournament Server
After = network.target

[Service]
User= ec2-user
ExecStart = /home/ec2-user/ut-server/ucc.init start
ExecStop = /home/ec2-user/ut-server/ucc.init stop
